﻿/*!
 * This css file contais the styling for the footer
 * 
 */

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.footer {
  grid-row-start: 5;
  grid-row-end: 6;
}

