﻿

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #0c0c20;
    }

    li {
        float: left;
    }

        li a {
            display: inline-block;
            color: dodgerblue;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    a:hover:not(.active) {
        background-color: #ffffff;
    }

    .active {
        background-color: #0c0c20;
    }
